/* Remove close button*/
.titlebar-buttonbox-container {
  display: none
}

/* Hide Tab Close buttons */
.tabbrowser-tab .tab-close-button {
  visibility: collapse !important;
}

/* TABS: height */
:root {
  --tab-toolbar-navbar-overlap: 0px !important;
  --tab-min-height: 25px !important;
}

:root #tabbrowser-tabs {
  --tab-min-height: 25px !important;
}

#TabsToolbar {
  height: var(--tab-min-height) !important;
}

/* no space besides tabbar */
.titlebar-spacer {
  width: 10px !important;
}

/* nav bar transparent */
.browser-toolbar {
  background-color: transparent !important;
}

/* auto-hide navbar */
#navigator-toolbox:not(:hover):not(:focus-within) {
  min-height: 15px !important;
}

#nav-bar {
  transition: opacity 0.2s ease;
}

#navigator-toolbox:not(:hover):not(:focus-within) > #nav-bar {
  visibility: collapse;
  opacity: 0;
  pointer-events: none;
}

#navigator-toolbox:hover > #nav-bar,
#navigator-toolbox:focus-within > #nav-bar {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
